<%- include ../include/head %>
	<article  class="adm">
		<div class="main">
			<%- include ../include/left %>
			<div class="content">
				<form action="/users/NU/<%= doc._id %>" class="form-horizontal" role="form" method='post' id="news">
				<div class="panel panel-info scr">
				    <div class="panel-heading">
				        <h3 class="panel-title">
				            新闻修改<a href="/users/Nl" class="add">新闻列表</a>
				        </h3>
				    </div>
				    <div class="panel-body">
				        <ul class="nav nav-tabs">
				        	<li class="active"><a href="#ty" data-toggle="tab">通用信息</a></li>
				        	<li><a href="#edit" data-toggle="tab">新闻内容</a></li>
				        </ul>
						<div class="tab-content">
							<div class="tab-pane fade in active" id="ty">
								<div class="form-group">
								 	<label for="" class="control-label col-sm-2">
								 		新闻标题:
								 	</label>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="nTitle" value="<%= doc.title %>">
									</div>
								</div>
								<div class="form-group">
								  	<label for="" class="control-label col-sm-2">
								  		新闻简介:
								  	</label>
								 	<div class="col-sm-5">
								 		<textarea name="summary" id=""  rows="5" class="form-control" ><%= doc.summary %></textarea>
								 	</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label col-sm-2">首页显示：</label>
									<div class="col-sm-5">
										<label class="radio-inline">
										    <input type="radio"  value="yes" name="show"
												<% if(doc.show =="yes"){ %>
													checked="checked" 
												<% } %>
										    >是
										</label>
										<label class="radio-inline">
										    <input type="radio"  value="no" name="show"
												<% if(doc.show =="no"){ %>
													checked="checked" 
												<% } %>
										    >否
										</label>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="edit">
								<script id="editor" name="editor" type="text/plain" style="width:1024px;height:500px;" ><%- doc.editor %></script>
							</div>
						</div>
				    </div>
				    <div class="panel-footer">
				    	<button class="btn btn-success" type="submit">确定</button>
				    	<button class="btn" type="button">取消</button>
				    </div>
				</div> 
				</form>
			</div>
		</div>
	</article>
	<script type="text/javascript" src="/users/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
	<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
	<script type="text/javascript">
		var ue = UE.getEditor('editor');
	</script>
</body>
</html>
<%- include ../include/footer %>